In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [2]:
datadir = '../data/raw'
train = pd.read_csv(os.path.join(datadir, 'train_V2.csv'))
test = pd.read_csv(os.path.join(datadir, 'test_V2.csv'))

In [3]:
# Combine train and test data
print("Train: ",train.shape)
print("-"*20)
print("Test:", test.shape)
print("-"*20)
print("Train Columns: ",train.columns)
print("-"*20)
print("Test Columns:", test.columns)

Train:  (4446966, 29)
--------------------
Test: (1934174, 28)
--------------------
Train Columns:  Index(['Id', 'groupId', 'matchId', 'assists', 'boosts', 'damageDealt', 'DBNOs',
       'headshotKills', 'heals', 'killPlace', 'killPoints', 'kills',
       'killStreaks', 'longestKill', 'matchDuration', 'matchType', 'maxPlace',
       'numGroups', 'rankPoints', 'revives', 'rideDistance', 'roadKills',
       'swimDistance', 'teamKills', 'vehicleDestroys', 'walkDistance',
       'weaponsAcquired', 'winPoints', 'winPlacePerc'],
      dtype='object')
--------------------
Test Columns: Index(['Id', 'groupId', 'matchId', 'assists', 'boosts', 'damageDealt', 'DBNOs',
       'headshotKills', 'heals', 'killPlace', 'killPoints', 'kills',
       'killStreaks', 'longestKill', 'matchDuration', 'matchType', 'maxPlace',
       'numGroups', 'rankPoints', 'revives', 'rideDistance', 'roadKills',
       'swimDistance', 'teamKills', 'vehicleDestroys', 'walkDistance',
       'weaponsAcquired', 'winPoints'],
      dtype='object')

In [4]:
data = pd.concat([train, test], axis=0)

/home/user/anaconda3/envs/spatial/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [5]:
# save for future usage
data.to_csv('../data/processed/data.csv')

In [6]:
# number of group per matches
group_per_match = data.groupby(['matchId'], as_index=False)['groupId'].agg('count')
group_per_match.columns = ['matchId', 'group_cnt']
group_per_match

              matchId  group_cnt
0      0000a43bce5eec         95
1      0000eb01ea6cdd         98
2      0002912fe5ed71         95
3      0003b92987589e        100
4      0006eb8c17708d         93
5      00077604e50a63         98
6      00086c74bb4efc         98
7      00086e740a5804         98
8      0008c31a9be4a7         98
9      000b598b79aa5e         93
10     000b9c826e4bd2        100
11     000d3360f9bef7         89
12     0010cc33013cbc         96
13     001125344b660c         96
14     001360264d4b5f         91
15     001479d72e4ca0         96
16     0014d9d1b0aff6         94
17     001616ed5da99b         97
18     0016b1436410d4         98
19     0016ebd62c4fef         99
20     0016fe3ee17ce7         97
21     00177a6ce4dfb5         92
22     00188d50e054f5         92
23     001937f739426c         95
24     0019bc34b3c58e         97
25     0019d729577e9c         94
26     001a75ec743bc7         91
27     001cd8e7e6b737         24
28     001e5e4799a31c         92
29     001e7bc06b1611         59
...               ...        ...
68491  ffe2ee39f210ff         92
68492  ffe6c9fd39b935         98
68493  ffe71c86ca1d81         97
68494  ffe7d37a82297b         98
68495  ffe94ff48407e7         93
68496  ffe9a61032fda0         94
68497  ffead5be0b50e8         98
68498  ffeaf5f7073d41         89
68499  ffeb2131284e45         94
68500  ffed6b75ebe4ce         91
68501  ffed79cf43d7d7         97
68502  ffef306edf6b36         98
68503  fff0a2994a6f3a         87
68504  fff0cf26c4f05e        100
68505  fff2c218352941         98
68506  fff2dfadd0635e         40
68507  fff497dff0186d         90
68508  fff4d3cbb6c317        100
68509  fff6678fff2f5e         96
68510  fff79202819759         98
68511  fffa170cf8ed83         93
68512  fffa17f1f8b33c         96
68513  fffa24d5955621         93
68514  fffa3a29e38094         93
68515  fffb576fad6509         95
68516  fffd74b5150cb4         97
68517  fffe53015be300         97
68518  fffe562611d981         94
68519  fffe721f841f85         97
68520  fffe92232706aa         93

[68521 rows x 2 columns]

In [7]:
data = pd.merge(data, group_per_match, how='left', on='matchId')
data.head(5)

,DBNOs,Id,assists,boosts,damageDealt,groupId,headshotKills,heals,killPlace,killPoints,...,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPlacePerc,winPoints,group_cnt
0,0,7f96b2f878858a,0,0,0.00,4d4b580de459be,0,0,60,1241,...,0.0000,0,0.00,0,0,244.80,1,0.4444,1466,96
1,0,eef90569b9d03c,0,0,91.47,684d5656442f9e,0,0,57,0,...,0.0045,0,11.04,0,0,1434.00,5,0.6400,0,91
2,0,1eaf90ac73de72,1,0,68.00,6a4a42c3245a74,0,0,47,0,...,0.0000,0,0.00,0,0,161.80,2,0.7755,0,98
3,0,4616d365dd2853,0,0,32.90,a930a9c79cd721,0,0,75,0,...,0.0000,0,0.00,0,0,202.70,3,0.1667,0,91
4,0,315c96c26c9aac,0,0,100.00,de04010b3458dd,0,0,45,0,...,0.0000,0,0.00,0,0,49.75,2,0.1875,0,97

In [8]:
data.columns

Index(['DBNOs', 'Id', 'assists', 'boosts', 'damageDealt', 'groupId',
       'headshotKills', 'heals', 'killPlace', 'killPoints', 'killStreaks',
       'kills', 'longestKill', 'matchDuration', 'matchId', 'matchType',
       'maxPlace', 'numGroups', 'rankPoints', 'revives', 'rideDistance',
       'roadKills', 'swimDistance', 'teamKills', 'vehicleDestroys',
       'walkDistance', 'weaponsAcquired', 'winPlacePerc', 'winPoints',
       'group_cnt'],
      dtype='object')

In [12]:
# should we drop these cols?
data[['numGroups','maxPlace']]

         numGroups  maxPlace
0               26        28
1               25        26
2               47        50
3               30        31
4               95        97
5               28        28
6               28        28
7               92        96
8               27        28
9               27        29
10              29        29
11              46        48
12              28        29
13              94        97
14              30        31
15              48        48
16              26        27
17              95        96
18              26        27
19              28        30
20              48        48
21              28        29
22              48        49
23              45        50
24              27        27
25              45        47
26              25        27
27              46        48
28              28        28
29              44        46
...            ...       ...
6381110         28        29
6381111         98        98
6381112         96        98
6381113         26        27
6381114         47        48
6381115         49        49
6381116         45        48
6381117         48        49
6381118         28        28
6381119         29        30
6381120         44        45
6381121         28        28
6381122         29        29
6381123         48        50
6381124         44        48
6381125         92        94
6381126         45        47
6381127         42        46
6381128         29        30
6381129         28        28
6381130         27        30
6381131         26        27
6381132         47        48
6381133         49        50
6381134         26        28
6381135         20        22
6381136         26        27
6381137         29        29
6381138         48        49
6381139         27        28

[6381140 rows x 2 columns]

In [20]:
train_cols = data.drop(['Id', 'numGroups', 'maxPlace', 'winPlacePerc', 'groupId'],axis=1).columns.values
#train_cols = train_cols.delete(['Id', 'numGroups', 'maxPlace'])
train_cols

array(['DBNOs', 'assists', 'boosts', 'damageDealt', 'headshotKills',
       'heals', 'killPlace', 'killPoints', 'killStreaks', 'kills',
       'longestKill', 'matchDuration', 'matchId', 'matchType',
       'rankPoints', 'revives', 'rideDistance', 'roadKills',
       'swimDistance', 'teamKills', 'vehicleDestroys', 'walkDistance',
       'weaponsAcquired', 'winPoints', 'group_cnt'], dtype=object)

In [23]:
data.select_dtypes(exclude=(['object'])).columns

Index(['DBNOs', 'assists', 'boosts', 'damageDealt', 'headshotKills', 'heals',
       'killPlace', 'killPoints', 'killStreaks', 'kills', 'longestKill',
       'matchDuration', 'maxPlace', 'numGroups', 'rankPoints', 'revives',
       'rideDistance', 'roadKills', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired', 'winPlacePerc',
       'winPoints', 'group_cnt'],
      dtype='object')